.about-us {
    width: 1180px;
    height: 424px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 150px auto;
}

.about-us-text {
    width: 716px;
    height: 424px;
    background-color: #1b414b;
    border-radius: 24px;
    padding: 90px 50px;
}

.about-us-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 44px 0;
}

.about-us-list-item {
    width: 280px;
    height: 100px;
}

.about-us-list-number {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.05em;
    color: #fbfbfb;
    padding: 0 0 18px 0;
}

.about-us-list-break {
    border-radius: 18px;
    width: 280px;
    height: 2px;
    background: rgba(251, 251, 251, 0.1);
    margin: 18px 0;
}

.about-us-list-text {}