.header {
    background-color: #FBFBFB;
    margin: 32px auto 155px;
    /* не знаю чому не пушиться */
    border: 1px solid #fbfbfb;
    border-radius: 8px;
    width: 1080px;
    height: 48px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1080px;
}

.header-logo {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.03em;
    color: #1b414b;
}

.header-nav {}

.header-nav-list {
    display: flex;
    gap: 4px;

}

.header-nav-item {
    width: 91px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 9px;
    line-height: 130%;
    text-transform: uppercase;
    text-align: center;
    background: rgba(27, 65, 75, 0.5);
    border-radius: 8px;
}

.header-nav-item-social {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1B414B;
    border-radius: 7px;
}

.header-nav-item:hover,
.header-nav-item:active {
    background-color: #1B414B;
}

.header-nav-list-social {
    width: 88px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    margin: 12px 30px 12px 0;
}

.link-item-social {
    background-color: #1b414b;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons-instagram {
    background-color: #1B414B;
}